# /etc/systemd/system/nodered-stack.service
# systemctl enable nodered-stack

[Unit]
Description=Node Red Service
Requires=nodered-stack.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/nodered-stack
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target